<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head-link"></head>

<body data-topbar="dark" data-layout="horizontal">
<!-- Begin page -->
<div id="layout-wrapper">
     <!-- <header th:replace="layout :: header-page"></header>
  &#45;&#45;
      <div th:replace="layout :: topnav"></div>-->

    <!--Nội dung-->
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Đăng ký tài khoản !</h5>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">
                                <a href="/" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="/images/background/CHAT.png" alt="" class="rounded-circle"
                                                     height="34">
                                            </span>
                                    </div>
                                </a>

                                <a href="/" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="/images/background/CHAT.png" alt="" class="rounded-circle"
                                                     height="34">
                                            </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form class="form-horizontal"
                                      th:action="@{/user/register}" th:object="${taikhoan}"
                                      method="post">

                                    <!--email-->
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>

                                        <input type="email" th:field="*{email}" class="form-control" id="email"
                                               placeholder="Nhập Email"
                                               title="Vui lòng nhập định dạng email hợp lệ" required>
                                        <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                                              th:errors="*{email}"></span>
                                    </div>
                                    <!--full name-->
                                    <div class="mb-3">
                                        <label for="fullname" class="form-label">Họ tên</label>
                                        <input type="text" th:field="*{fullname}" class="form-control" id="fullname"
                                               placeholder="Nhập họ tên">
                                        <span class="text-danger" th:if="${#fields.hasErrors('fullname')}"
                                              th:errors="*{fullname}"></span>
                                    </div>
                                    <!--ngay sinh-->
                                    <div class="mb-3">
                                        <label for="dateofbirth" class="form-label">Năm sinh</label>
                                        <input type="date" th:field="*{dateofbirth}" class="form-control"
                                               id="dateofbirth"
                                               placeholder="Nhập năm sinh">
                                        <span class="text-danger" th:if="${#fields.hasErrors('dateofbirth')}"
                                              th:errors="*{dateofbirth}"></span>

                                    </div>
                                    <!--username-->
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Tên đăng nhập</label>
                                        <input type="text" th:field="*{username}" class="form-control" id="username"
                                               pattern="^\S+$"
                                               title="Vui lòng nhập tên người dùng không có khoảng trắng" required
                                               placeholder="Nhập tên đăng nhập">
                                        <span class="text-danger" th:if="${#fields.hasErrors('username')}"
                                              th:errors="*{username}"></span>

                                    </div>
                                    <!--password-->
                                    <div class="mb-3">
                                        <label class="form-label">Mật khẩu</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" th:field="*{password}" class="form-control"
                                                   placeholder="Nhập mật khẩu" required
                                                   aria-label="Password" id="password"
                                                   aria-describedby="password-addon">
                                            <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                                                  th:errors="*{password}"></span>


                                            <button class="btn btn-light " type="button" id="password-addon"><i
                                                    class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>
                                    <!--confirmpassword-->
                                    <div class="mb-3">
                                        <label class="form-label">Xác nhận mật khẩu</label>
                                        <div class="input-group auth-pass-inputgroup">
                                            <input type="password" class="form-control"
                                                   placeholder="Nhập mật khẩu" required
                                                   aria-label="Password" id="confirmPassword"
                                                   aria-describedby="password-addon">
                                            <button class="btn btn-light " type="button" id="confirmpassword-addon"><i
                                                    class="mdi mdi-eye-outline"></i></button>
                                        </div>
                                    </div>
                                    <!--phone number-->
                                    <div class="mb-3">
                                        <label for="phonenumber" class="form-label">Số điện thoại</label>
                                        <input type="text" th:field="*{phonenumber}" class="form-control"
                                               id="phonenumber" pattern="[0-9]{10}"
                                               title="Vui lòng nhập số điện thoại 10 chữ số" required
                                               placeholder="Nhập số điện thoại">
                                        <span class="text-danger" th:if="${#fields.hasErrors('phonenumber')}"
                                              th:errors="*{phonenumber}"></span>
                                    </div>


                                    <div class="mt-3 d-grid">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Đăng ký
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            <p>Bạn đã có tài khoản ? <a href="/user/login" class="fw-medium text-primary">
                                Đăng nhập ngay</a></p>
                            <!--<p>©
                                <script>document.write(new Date().getFullYear())</script>
                                2023 Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
                            </p>-->


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Hết nội dung-->
</div>

<div th:replace="layout :: link-js"></div>

</body>

</html>
