<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout_admin :: head-link"></head>

<body data-sidebar="dark" data-layout-mode="light">

<!-- Begin page -->
<div id="layout-wrapper">
    <header  th:replace="admin/layout_admin :: header-page"></header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu"  th:replace="admin/layout_admin :: menu"></div>
    <!-- Left Sidebar End -->

    <!-- Nội dung -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Danh sách tài khoản</h4>


                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <a href="/admin/QuanLyTaiKhoan/add" style=" width: 90px; height: 40px; align-items: center; display:flex; justify-content: center;" class="btn btn-outline-secondary btn-sm create">
                                        <i class="fa fa-plus" style="margin-right: 5px"></i>
                                        Thêm mới
                                    </a>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap table-hover">
                                        <thead class="table-light">
                                        <tr>
                                            <th scope="col" style="width: 70px;">STT</th>
                                            <th scope="col" style="width: 70px;"></th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Năm sinh</th>
                                            <th scope="col">Số điện thoại</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each = "taikhoan,index : ${Listtaikhoan}">
                                            <td th:text ="${index.count}"></td>
                                            <td>
                                                <div>
                                                    <img class="rounded-circle avatar-xs" src="images/avatar.png" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <h5 class="font-size-14 mb-1" th:text ="${taikhoan.fullname}"></h5>
                                                <p class="text-muted mb-0" ></p>
                                            </td>
                                            <td th:text ="${taikhoan.email}"></td>
                                            <td th:text ="${taikhoan.dateofbirth}">

                                            </td>
                                            <td th:text ="${taikhoan.phonenumber}">
                                            </td>
                                            <td>
                                                <ul class="list-inline font-size-20 contact-links mb-0">
                                                    <a th:href ="@{/admin/QuanLyTaiKhoan/edit/{id}(id=${taikhoan.id})}" class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a  th:href ="@{/admin/QuanLyTaiKhoan/delete/{id}(id=${taikhoan.id})}" class="btn btn-outline-secondary btn-sm delete" title="Delete">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </ul>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                    <div th:if="${totalPages > 0}">
                                        <div class="row col-sm-10">
                                            <div class="col-sm-2">Số trang: [[${totalItems}]]</div>
                                            <ul class="pagination pagination-rounded justify-content-center mt-3 mb-4 pb-1">
                                                <li  th:if="${totalPages > 0}" class="page-link"
                                                     th:each="pageNumber : ${pageNumbers}">
                                                    <a th:href="@{'/admin/QuanLyTaiKhoan/page/' + ${pageNumber}}"
                                                       th:text=${pageNumber}
                                                       th:class="${pageNumber==currentPage + 1} ? active"
                                                       class="page-link"
                                                    ></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- hết nội dung-->
</div>
<!-- END layout-wrapper -->

<footer th:replace="admin/layout_admin :: footer"></footer>
<!-- JAVASCRIPT -->
<div th:replace="admin/layout_admin :: link-js"></div>
</body>
</html>